.cartContainer {
   background-color: #F3F2EF;
    color: #050303;
    border: 1px solid rgba(5, 3, 3, 0.2);
    width: 40vw;
    height: 60vh;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(5, 3, 3, 0.3);
    margin: 50px auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.cartContainer .buttons button {
    width: 125px;
    height: 30px;
    background-color: rgb(5,3,3, 0.9);
    border: none;
    border-radius: 5px;
    color: #F3F2EF;
    transition: background-color 0.3s ease;
}

.cartContainer .buttons button:hover {
    background-color: rgba(5, 3, 3, 0.6);
}