.cartWidget {
    cursor: pointer;
    position: relative;
}

.cartWidget span {
    position: absolute;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    font-size: 12px;
    top: -5px;
    right: -30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}