div .mainContainer {
    color: #050303;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div h2 {
    margin:10px;
    text-align: center;
}