.headerContainer {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: (1, );
    background-color: black;
    align-items: center;
    height: 12vh;

    h1 {
        grid-row: 1;
        grid-column: 1 / 2;
        margin: 0 20px;
        font-size: 5vh;
        color:white;
    }

    div.logo {
        grid-row: 1;
        grid-column: 2 / 3;
        justify-self: end;
        margin: 0 20px;

        img {
            height: 10vh;
        }
    }
}

