.mainContainer {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px;
    margin: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    h2 {
        margin: 10px;
    }
}